:root {
  --fs-sm: 0.8rem;
  --fs-md: 1rem;
  --fs-lg: 1.5rem;

  --fw-regular: 300;
  --fw-semibold: 500;
  --fw-bold: 700;

  /*  --clr-primary: #034aa6;
  --clr-secondary: #f2f2f2;
  --clr-accent: #f2bb16; */

  /*
#734002
#736555
#A69785
#261B11
#D9D0C7
*/

  --clr-primary: #736555;
  --clr-secondary: #f2f2f2;
  --clr-accent: #734002;

  /* --clr-success: #28a745; */
  /* --clr-info: #17a2b8; */
  /* --clr-danger: #dc3545; */
  /* --clr-light: #f8f9fa; */
  /* --clr-light: #f2f2f2; */
  /* --clr-dark: #343a40; */

  --clr-light: #d9d0c7;
  --clr-dark: #261b11;

  --clr-dark-op-50: #261b1177;

  /* --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px; */

  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/* A Modern CSS Reset by Andy Bell */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements which suggests default styling will be removed */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Resets END */

/* Utilities */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.block {
  display: block;
}

.i-block {
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-inline: auto;
}

.mx-1 {
  margin-inline: 1rem;
}

.mr-05 {
  margin-inline-end: 0.5rem;
}

.mr-1 {
  margin-inline-end: 1rem;
}

.my-1 {
  margin-block: 1rem;
}

.my-2 {
  margin-block: 2rem;
}

.my-3 {
  margin-block: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.py-1 {
  padding-block: 1rem;
}
.py-2 {
  padding-block: 2rem;
}
.py-3 {
  padding-block: 3rem;
}

/* Font Size */
.fs-sm {
  font-size: var(--fs-sm);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fst-i {
  font-style: italic;
}

/* Color */
.bg-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.bg-light {
  background-color: var(--clr-light);
}

.bg-dark {
  background-color: var(--clr-dark);
}

.text-light {
  color: var(--clr-light);
}

.text-secondary {
  color: var(--clr-secondary);
}

.text-dark {
  color: var(--clr-dark);
}

.list-unstyled {
  list-style-type: none;
}
/*** Utilities END */

/*  */
body {
  font-family: var(--font-family-sans-serif);

  color: var(--clr-dark);
  background-color: var(--clr-secondary);
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

/*  */
.container {
  width: 100%;
  padding: 1rem 1rem;
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  /* font-weight: var(--fw-semibold); */

  padding: 0.75em 1em;
  cursor: pointer;
  border-radius: 0.3rem;

  /* font-size: var(--fs-sm); */

  border: none;
}

.btn-cta {
  font-weight: var(--fw-bold);
  letter-spacing: 0.05rem;
}

/* 
.top-banner {
  display: flex;
  color: var(--clr-light);
  background-color: var(--clr-primary);
} 
*/

/* .top-banner:last-child() {
  margin-left: auto;
} */

.top-banner a {
  color: var(--clr-light);
}

/***
*  Navbar
*/
.navbar {
  margin-block: auto;
  margin-inline: auto 1rem;

  /* position: absolute;
z-index: 1; */

  /* display: grid;
grid-template-columns: 1fr 1fr; */

  color: var(--clr-dark);
  /* background-color: var(--clr-secondary); */
}

.navbar-brand {
  margin: 1rem;
  z-index: 1000;

  text-transform: uppercase;
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
}

/* .navbar-toggler {
  margin-inline: auto 1rem;

  border-style: none;
  background-color: transparent;
} */

.nav-menu {
  display: flex;

  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu-toggler {
  display: none;
}

.nav-item {
  margin-inline: 1rem;
}

/***
*  Mobile View
*/
@media (max-width: 45rem) {
  /* Only leave the Brand and Hamb Menu on the navigation elem. */
  .navbar {
    position: absolute;
  }

  .nav-menu {
    position: fixed;
    z-index: 999;
    inset: -100% 0% 100% 0%;

    display: flex;
    padding: 4rem 2rem 2rem 2rem;
    margin: 0;
    flex-direction: column;

    list-style: none;
    /* background: linear-gradient(var(--clr-secondary) 100%, transparent 110%); */
    background-color: var(--clr-secondary);

    transition: ease-out 0.5s;
  }

  .nav-menu-toggler {
    display: block;
    /* position: absolute; */
    z-index: 1000;
    /* right: 1rem; */
    /* top: 2rem; */

    margin-inline: auto 1rem;

    background: transparent;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }

  .nav-menu-show {
    inset: 0% 0% 0% 0%;

    /* transform: translateY(100%); */
  }

  .nav-item {
    margin: auto;
  }

  .nav-item a {
    color: var(--clr-dark);
  }
}
/*** Mobile View END */
/***  Navbar END  */

/***
 Hero Section 
 */
.hero {
  display: grid;
  position: relative;
  height: 20rem;

  /* TODO: Reduce img size */
  background-image: url("../images/carpet-cleaning-steam_2.jpg");
  /* background-image: linear-gradient(var(--clr-secondary) 7%, transparent 35%),
    url(../images/carpet-cleaning-steam_2.jpg); */

  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;

  /* background-color: hsla(0, 0%, 0%, 1); */

  color: var(--clr-dark);
}

/* .hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.3;
  background: #000000;
} */

.hero-content {
  margin: auto 0;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;

  background-color: var(--clr-dark-op-50);
  color: var(--clr-secondary);
}

.hero-content .heading {
  margin-bottom: 1rem;
}

/* 
.subheading {
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: 1.5;
} */

.section-header {
  margin: 2rem 0;
  font-size: var(--fs-lg);
}

section .secondary-heading {
  margin: 3rem 0 1rem 0;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-md);
}

/***
 Make an Appointment
*/
.appointment label {
  padding: 0.3rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.3rem;

  border: none;
  border-radius: 0.3rem;
  background-color: var(--clr-dark-op-50);
  color: var(--clr-secondary);
}

input[type="text"]:focus-visible {
  outline: none;
}

input::placeholder {
  font-style: italic;
}

select {
  width: 100%;
  padding: 0.3rem;

  border: none;
  border-radius: 0.3rem;
  background-color: var(--clr-dark-op-50);
  color: var(--clr-secondary);
}

select:focus-visible {
  outline: none;
}

/**
* Testimonials
*/
.card {
  margin-block: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--clr-light);
}
/**
* Testimonials END
*/

/**
* About Us
*/
.stat .counter {
  display: block;
  /* font-size: var(--fs-lg); */
  font-size: 2rem;
  font-weight: var(--fw-bold);
}
/**
* About Us END
*/

/**
  Animations
*/

/* Slide Up */
@keyframes slide-up {
  from {
    transform: translateY(1rem);
    opacity: 0%;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}

/* The element to apply the animation to */
.slide-up {
  animation-name: slide-up;
  animation-duration: 0.6s;
}

/* Slide Right */
@keyframes slide-right {
  from {
    transform: translateX(-1rem);
    opacity: 0%;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

/* The element to apply the animation to */
.slide-right {
  animation-name: slide-right;
  animation-duration: 0.6s;
}
